.vehicles {
  margin-bottom: 40px;
}
.vehiclesItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 15px;
}
.vehiclesItem:not(:last-child) {
  margin-bottom: 32px;
}
.imageVehicles {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  transition: transform 1s ease;
}
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #475467;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 24px;
}
.linkCatalog {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #ffffff;
  padding: 8px 24px;
  text-decoration: none;
  background-color: #415ef1;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 4px #0e0e0e;
}
.linkCatalog:hover {
  background-color: #5872f4;
  color: #ffffff;
}
.buttonLoadMore {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: #101828;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  border: 1px solid #dadde1;
  border-radius: 200px;
}
.buttonLoadMore:hover {
  border: 1px solid #5872f4;
}
@media screen and (min-width: 768px) {
  .vehiclesItem {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .imageVehicles {
    width: 320px;
    height: 292px;
  }
  .imageVehicles:hover {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1200px) {
  .vehiclesItem {
    padding: 16px;
    gap: 24px;
    list-style-type: none;
  }
  .imageVehicles {
    width: 292px;
    height: 320px;
  }
  .imageVehicles:hover {
    transform: scale(1.08);
  }
  .ratingWrapper {
    margin-bottom: 0;
  }
  .linkCatalog {
    padding: 16px 46px;
  }
  .buttonLoadMore {
    padding: 16px 32px;
  }
}
