.logo {
  text-decoration: none;
  position: absolute;
  left: 12px;
  color: #101828;
  margin: 0;
  transition: color 0.3s ease, transform 0.3s ease;
}
.logo:hover {
  color: #d84343;
}
.logo:hover .logoTrucks {
  color: #d84343;
}
.logoTrucks {
  color: #475467;
}
@media screen and (min-width: 768px) {
  .logo {
    position: absolute;
    left: 64px;
    color: #101828;
  }
  .logoTrucks {
    color: #475467;
  }
}
