.vehiclesDescription {
  width: 524px;
  margin-bottom: 8px;
}
.listItem {
  display: flex;
  justify-content: space-between;
}
.vehiclesName {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #101828;
}
.priceBox {
  display: flex;
  gap: 12px;
  align-items: center;
}
.vehiclesPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #101828;
}
.iconHeart {
  width: 26px;
  height: 24px;
  color: #101828;
}
.ratingWrapper {
  margin-bottom: 24px;
}
.iconStar {
  width: 16px;
  height: 16px;
  fill: #ffc531;
  margin-right: 4px;
}
.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #101828;
  margin-right: 16px;
}
.iconLocation {
  width: 16px;
  height: 16px;
  stroke: #101828;
  margin-right: 4px;
}
.vehiclesPriceDetails {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #101828;
  margin-top: -16px;
}
