.containerApp {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .containerApp {
    max-width: none;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containerApp {
    max-width: none;
    width: 1200px;
  }
}
