.features {
  width: 280px;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .features {
    width: 631px;
    padding: 20px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 44px 52px;
    gap: 100px;
  }
}
