.filterWrapper {
  margin-bottom: 18px;
}
.filterContainer {
  width: 305px;
  margin-bottom: 20px;
}
.equipmentContainer {
  width: 305px;
  margin-bottom: 32px;
}
.titleEquipment {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #101828;
  margin-bottom: 24px;
}
.line {
  background-color: #dadde1;
  left: 0;
  display: block;
  width: 300px;
  margin: 0;
  margin-bottom: 24px;
}
.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  column-gap: 8px;
}
.equipmentFilterItem {
  width: 94px;
  height: 96px;
  list-style-type: none;
  border: 1px solid #dadde1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.equipmentFilterItem:hover {
  border: 1px solid #415ef1;
}
.equipmentFilterItemActive {
  width: 94px;
  height: 96px;
  list-style-type: none;
  border: 1px solid #dadde1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #415ef1;
}
.equipmentFilter {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #101828;
}
.linkCatalog {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #ffffff;
  padding: 16px 46px;
  text-decoration: none;
  background-color: #415ef1;
  border-radius: 30px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 4px #0e0e0e;
}
.linkCatalog:hover {
  background-color: #5872f4;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .filterWrapper {
    position: relative;
    margin-bottom: 0;
  }
  .filterContainer {
    display: flex;
    gap: 20px;
  }
  .equipmentContainer {
    position: absolute;
    top: 0;
    left: 360px;
    order: 1;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .filterContainer {
    flex-direction: column;
    gap: 32px;
    width: max-content;
  }
  .filterContainer {
    margin-bottom: 40px;
  }
  .line {
    width: 360px;
  }
  .equipmentFilterItem {
    width: 112px;
  }
  .equipmentFilterItemActive {
    width: 112px;
  }
  .equipmentList {
    width: 360px;
  }
  .equipmentContainer {
    position: relative;
    left: 0;
  }
}
